$background: #f8f9fa;
$primary-text: #323435;
$heading-text: #3f4244;
$text-muted: #494d4e;
$light-blue: #90afc5;
$dark-blue: #336b87;
$accent: #763626;
$accent-light: rgba(118, 54, 38, 0.38);
$light: #dfebee;
$dark: #2a3132;

$tint-color: rgba(0, 0, 0, 0.16);

$navmenu-height: 50px;
$sidebar-width: 250px;